<link rel="stylesheet" href="/css/styles.css" />

<div class="container">
  <h1><%= title %></h1>
</div>

<div>
  <table class="data-panel">
    <tr>
      <th>Full Name</th>
      <th>Date of birth</th>
      <th>Mobile</th>
      <th>Alternate Mobile</th>
      <th>Qualification</th>
      <th>Occupation</th>
      <th>Email</th>
      <th>Address</th>
      <th>Courses</th>
      <th></th>
    </tr>
    <% sadhakData.forEach( data => { %>
    <tr>
      <td><input value=<%= data.fullName %>></td>
      <td><input value=<%= data.dob %>></td>
      <td><input value=<%= data.mobile %>></td>
      <td><input value=<%= data.alternateMob %>></td>
      <td><input value=<%= data.qualification %>></td>
      <td><input value=<%= data.occupation %>></td>
      <td><input value=<%= data.email %>></td>
      <td><input value=<%= data.address %>></td>
      <td><input value=<%= data.courses %>></td>
      <td><a href="">Edit</a></td>
    </tr>
    <% }); %>
  </table>
</div>
